@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, #0A8CCA, #13A406);
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; 
    width: 100vw; 
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 20px;
    border: 1px solid #F0F0F0;
    background: rgba(217, 217, 217, 0.70);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 90%;
    height: 70%;
}

.first-column{
  flex: 2;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.second-column {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 0 15px 15px 0;
}
.title{
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.description{
  color: white;
  font-size: 14px;
  font-weight: 300;
}


form.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 
}
.first-column{
  text-align: center;
  z-index: 10;
  
}
form input{
  height: 45px;
  border: none;
  background-color: #ecf0f1;
  width: 100%;
  outline: none;
}

h2{
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px;
  
  
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
  
}

.icon {
  color: #585e5e;
  width: 30px;
  height: 30px; 
  padding: 2px;
}
.bi.bi-shield-lock{
  width: 40px;
  height: 40px;
}

.password-input {
  display: flex;
  align-items: center;
}

form input#pass1 {
  height: 30px;
  width: calc(100% - 65px); /* Ajuste o valor para garantir que o campo de senha ocupe o restante do espaço */
}

a{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 60%;
  height: 6%;
  border: none;
  cursor: pointer;
  align-items: center;
  background: #3ff32f;
  text-decoration: none;
}
  
a:hover{
  background: #3ff32f;
  border-radius: 10px;
  width: 60%;
  height: 6%;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}
a #signup{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background: #3ff32f;
  cursor: pointer;
  border: none;


}

#showPasswordBtn {
  border: none;
  background-color: #ecf0f1;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-size: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  align-self: center;
  font-weight: bold;
}
img{
  width: 30vw;
  height: 50vh;
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 950px) {
  img{
    width: 20vw;
    height: 40vh;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 80px) {
  img{
    width: 10vw;
    height: 30vh;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    z-index: 1;
  }
}