body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    width: 200px;
    background-color: #7FCEF8;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
}

#menu img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

#menu button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    width: 150px;
    height: 40px;
}

#conteudo {
    margin-left: 200px;
    padding: 16px;
    width: calc(100% - 200px);
}

#formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#buttonListar {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
}

#tabela {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#tabela th, #tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabela th {
    background-color: #3498db;
    color: white;
}