body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#conteudo {
    margin-left: 300px; /* Largura do menu lateral */
    padding: 16px;
    width: calc(88% - 85px); /* Largura total da tela menos a largura do menu */
}


#formulario {
    max-width: 400px;
    margin: 30px 500px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#buttonListar {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
}

#tabela {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#tabela th, #tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabela th {
    background-color: #3498db;
    color: white;
}