body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    width: 200px;
    background-color: #7FCEF8;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
}

#menu img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adiciona um espaço entre a imagem e os links */
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 300px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}
button:hover {
    background-color: #45a049;
}